html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: skyblue;
}

* {
  box-sizing: border-box;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
